.text-container {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .text-component {
    width: 40px; /* Set your desired width */
    /* height: 200px; /* Set your desired height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    writing-mode: vertical-rl; /* Vertical text */
    text-align: center; /* Center text */
    transform: rotate(180deg); /* Rotate text */
    white-space: nowrap; /* Prevent text from wrapping */
  }

  .text-component-2 {
    width: 40px; /* Set your desired width */
    /* height: 200px; /* Set your desired height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    writing-mode: vertical-rl; /* Vertical text */
    text-align: center; /* Center text */
    transform: rotate(180deg); /* Rotate text */
    white-space: nowrap; /* Prevent text from wrapping */
    color: white;
  }
  